*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #F2F2F2;
}

body{
    min-width: 960px;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-75%);
}

.imgGif{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
}