*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.boite-footer {
    background-color: rgb(51, 65, 65);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.enfant-footer{
    text-align: center;
    color: rgb(208, 211, 213);
    font-size: 1.1em;
}

.enfant-footer p{
    margin-top: 5px;
}


.section-img-login img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-10%,-50%);
}

.section-img-login-admin img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-90%,-50%);
}

.section-form-login-admin{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(15%,-50%);
    width: 600px;
    height: 600px;
    background-color: #2f2e41a8;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-form-login{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-115%,-50%);
    width: 550px;
    height: 550px;
    background-color: #CCCCCC;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-form-login h1{
    color: #2F2E41;
    margin: 30px;
    font-size: 3.2em;
}

.section-form-login-admin h1{
    color: #CCCCCC;
    margin: 30px;
    font-size: 3.2em;
}

.section-form-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-form-login-admin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insertion-donnees-login{
    margin-bottom: 30px;
    width: 17vw;
    height: 45px;
    border-radius: 25px;
    outline: none;
    border: none;
    padding-left: 35px;
    font-size: 0.96em;
}

.btn-donnees-login{
    padding: 11px 35px;
    border-radius: 25px;
    outline: none;
    border-top-color:#FFB8B8 ;
    border-left-color: #FFB8B8;
    border-right-color:#CCCCCC ;
    border-bottom-color: #CCCCCC;
    color: #3F3D56;
}

.section-form-login p{
    margin-top: 25px;
}

.section-form-login-admin p{
    margin-top: 25px;
}

